# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db

# Environments
.env
.venv
env/
venv/
ENV/

# Models
*.pkl

# Data
weather.csv

# user docs
GEMINI.md
